/* style the PloneKonf portal tab Button */

#portal-globalnav #portaltab-plonekonf2012 {
    float: right;
    background: url("plonekonf2012_banner.png") repeat scroll 0 0 transparent;
    height: 35px;
    margin: 2px 3px;
    width: 75px;
}

#portal-globalnav #portaltab-plonekonf2012 a {
    border:None;
    text-indent: -999em;
    width: 50px;
}

/* fix padding for portlet with centered image */
dl.portlet-static-plone-konferenz .portletItem { padding: 1em 0.5em !important; }

/* fixes for frontpage */
.section-willkommen-zu-plone #portal-breadcrumbs { display: none; }
.section-willkommen-zu-plone #content { margin-top: 0; }


/* stylings for sponsors */

#portal-sponsorbox { width: 870px; margin: 3em auto; }
#portal-sponsorbox h1 { font-size: 130%; margin-bottom: 0.5em; text-align: center; }
#portal-sponsorbox h2 { font-size: 120%; margin-bottom: 0.25em; }
#category-gold { float: left; }

/* Fix for headline vertical spacing, acsr 20120617_18-14-26 */

h1,h2,h3,h4,h5,h6{
    line-height: 1.2em;
    margin-bottom: 0.1em;
    margin-top: 0.8em;
}

/* Fix for dense description line spacing, acsr 20120617_18-14-26 */

#content .documentDescription, #content #description {
    line-height: 1.3em;
}

/* Fix overlay zindex */

.pb-ajax, .pb-image, .overlay iframe {
    z-index: 100;
    position: absolute;
}

div.overlaybg div.close, div.overlay div.close {
    z-index: 1002;
    position: absolute;
}